.delivery {
  &__header {
    margin-bottom: 16px;
    border-bottom: 1px solid var(--color-border);

    button {
      margin-bottom: -1px;
    }

    // =< 768px
    @media screen and (max-width: $screen-tablet) {
      position: sticky;
      top: 0;
      z-index: 2;
      background-color: var(--bg-primary);
    }
  }

  &__main {
    table {
      margin: 16px 0 0;
      background-color: var(--bg-gray);
      border-radius: 16px;

      td {
        padding: 16px 24px;

        &:last-of-type {
          font-weight: 600;
          font-size: 18px;

          span {
            color: var(--color-gray-dark-light);
            font-weight: 400;
            font-size: 14px;
          }
        }
      }
    }
  }

  &-table {
    $p: &;

    padding: 16px 24px;
    background-color: var(--bg-gray);
    border-radius: 16px;

    &__row {
      display: flex;
      gap: 5px;

      &+#{$p}__row {
        margin-top: 16px;
      }

      // >= 320px
      @media screen and (min-width: 320px) {
        flex-direction: column;
      }

      // >= 768px
      @media screen and (min-width: $screen-tablet) {
        flex-direction: row;
        align-items: center;
      }
    }

    &__col {
      flex-basis: 50%;
      flex-grow: 1;

      &:last-of-type {
        font-weight: 600;
        font-size: 16px;

        span {
          color: var(--color-gray-dark-light);
          font-weight: 400;
          font-size: 12px;
        }

        // >= 1448px
        @media screen and (min-width: $screen-desktop-large) {
          font-size: 18px;

          span {
            font-size: 14px;
          }
        }
      }
    }
  }

  &__footer {
    margin-top: 16px;
  }

  &__note {
    color: var(--color-gray-dark-light);

    p {
      margin: 0;
    }
  }

  &__toast {
    margin: 8px 0 16px;
    padding: 12px 24px;
    font-weight: 600;
    border-radius: 16px;

    &.success {
      background-color: var(--bg-green-light);
    }
  }
}
