# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.

# PROD / DEV
APP_MODE=DEV

APP_COMPONENTS_FILE=application/config/app.php
APP_NODES_FILE=application/config/nodes.php
CONTAINER_DIR=application/config/container
CONTAINER_CACHE=var/cache/container

# Default page
PAGE404="/application/src/Presentation/templates/error/404.tpl"
PAGE501="/application/src/Presentation/templates/error/501.tpl"

# Users environment
MYSQL_PARAM='{"host":"host.docker.internal", "user":"***user***", "pass":"***password***","base":"***basename***", "logsEnable":true}'