.logo {
  $block-name: &; // #{$block-name}__element

  display: block;
  width: 125px;
  max-width: 100%;
  max-height: 44px;

  @media screen and (min-width: $screen-tablet) {
    width: 152px;
  }

  @media screen and (min-width: $screen-desktop-large) {
    width: 196px;
  }

  &__icon {
    width: 100%;
    height: auto;
  }
}
