.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;

  @media screen and (min-width: $screen-tablet) {
    max-width: 768px;
    padding: 0 40px;
  }

  @media screen and (min-width: $screen-desktop) {
    max-width: 1024px;
    padding: 0 48px;
  }

  @media screen and (min-width: $screen-desktop-large) {
    max-width: 1448px;
    padding: 0 20px;
  }

  &--filter {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-right: 20px;
    padding-left: 20px;

    @media screen and (min-width: $screen-desktop) {
      display: block;
      height: auto;
    }
  }
}
