.star-rating-static {
  display: flex;
  align-items: center;

  &__wrapper {
    position: relative;
    width: 100px;
  }

  &__body {
    width: 100%;
    height: 20px;
    mask-image: url("../img/icon-star-stroke.svg");
    mask-size: contain;
    background-color: var(--color-grey-dark);
  }

  &__progress {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;
    width: calc(20% * var(--rating-number));
    height: 100%;
    background-color: var(--rating-color);
    mask-image: url("../img/icon-star-full.svg");
    mask-size: contain;
  }

  &__text {
    margin: 0 0 0 8px;
    line-height: normal;
  }
}
