@font-face {
  font-weight: 400;
  font-family: ProximaNova;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ProximaNova-Regular.woff2") format("woff2");
}

@font-face {
  font-weight: 600;
  font-family: ProximaNova;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ProximaNova-Semibold.woff2") format("woff2");
}

@font-face {
  font-weight: 400;
  font-family: PTSans;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/PTSans-Regular.woff2") format("woff2");
}

@font-face {
  font-weight: 600;
  font-family: Montserrat;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
}
