* {
  &::-webkit-scrollbar-track {
    background-color: #f5f5f5;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
  }

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px var(--color-btn);
  }
}

.html--active {
  height: auto;
  overflow: auto;
}

html {
  &.ovh {
    overflow: hidden;

    // >= 1024px
    @media screen and (min-width: $screen-desktop) {
      overflow: auto;
    }
  }
}

body {
  overflow-x: hidden;
  color: var(--color-dark);
  font-size: 14px;
  background-color: var(--bg-gray);

  // >= 1448px
  @media screen and (min-width: $screen-desktop-large) {
    font-size: 16px;
  }

  &.body--hide {
    position: relative;
    overflow: hidden;
  }
}

a {
  color: var(--color-dark);
  text-decoration: none;
  cursor: pointer;
  transition: all $transition-primary;

  &:hover,
  &:active {
    &,
    .wrap-icon {
      color: var(--color-gray-dark-light);
    }
  }
}

hr {
  border-color: var(--border-color);
}

.wrap-icon {
  display: inline-flex;
  flex-shrink: 0;
  width: 20px;
  height: 20px;

  // >= 1448px
  @media screen and (min-width: $screen-desktop-large) {
    width: 24px;
    height: 24px;
  }

  &--tab-icon {

    // >= 1024px
    @media screen and (min-width: $screen-desktop) {
      display: none;
    }
  }

  &--fix-size {
    width: 24px;
    height: 24px;
  }

  &--rotate {
    transform: rotate(-180deg);
  }

  &--tag {
    width: 16px;
    height: 16px;

    // >= 1448px
    @media screen and (min-width: $screen-desktop-large) {
      width: 16px;
      height: 16px;
    }
  }

  &--checkbox {
    width: 20px;
    height: 20px;
  }

  &--small {
    width: 20px !important;
    height: 20px !important;
  }

  svg {
    width: 100%;
    height: 100%;
    margin: auto;
    transition: 0.3s;
  }
}

.badges {
  &__row {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }
}

.badge {
  display: inline-block;
  padding: 6px 10px;
  color: var(--color-white);
  font-weight: 600;
  font-size: 12px;
  line-height: 1;
  white-space: nowrap;
  background-color: var(--color-btn-hover);
  border-radius: 70px;

  &--green {
    &-dark {
      background-color: var(--color-green-dark);
    }
  }

  &--purple {
    background-color: var(--color-purple);
  }

  &--yellow {
    background-color: var(--color-yellow);
  }

  &--blue {
    background-color: var(--color-blue);
  }

  &--red {
    background-color: var(--color-red);
  }
}

.section {
  $p: &;

  & + .section {

    // >= 320px
    @media screen and (min-width: 320px) {
      margin-top: 80px;
    }

    // >= 1024px
    @media screen and (min-width: $screen-desktop) {
      margin-top: 104px;
    }

    // >= 1448px
    @media screen and (min-width: $screen-desktop-large) {
      margin-top: 120px;
    }
  }

  &__intro {
    text-align: center;

    // >= 320px
    @media screen and (min-width: 320px) {
      margin-bottom: 24px;
    }

    // >= 1024px
    @media screen and (min-width: $screen-desktop) {
      margin-bottom: 32px;
    }

    // >= 1448px
    @media screen and (min-width: $screen-desktop-large) {
      margin-bottom: 40px;
    }
  }

  &__title,
  &__subtitle {
    margin: 0;
  }

  &__title {
    &+#{$p}__subtitle {
      margin-top: 16px;
    }
  }
}

.counter {
  &-result {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: var(--color-gray-dark-light);
    font-size: 14px;
  }
}

.custom-scrollbar {
  &-x {
    @include custom-scrollbar-x;
  }

  &-y {
    @include custom-scrollbar-y;
  }
}

select {
  width: 100%;
  max-height: 50px;
  padding-right: 40px !important;
  background: url(../img/select_arrow.svg) var(--color-white) no-repeat calc(100% - 14.5px) !important;
  background-size: 24px !important;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

.select-wrap {
  position: relative;

  .select {
    position: absolute;
    display: none;
    width: 1px;
    height: 1px;
    opacity: 0;
  }
}

.custom-select {
  &--show {
    .custom-select__current {
      border-color: var(--color-green);

      &::after {
        transform: rotate(-180deg) translateY(50%);
      }
    }

    .custom-select__list {
      margin-top: 5px;
      background-color: var(--color-white);
      border: 1px solid var(--color-border);
      border-radius: 8px;
      visibility: visible;
      opacity: 1;
      pointer-events: auto;
    }
  }

  &__current {
    position: relative;
    width: 100%;
    max-height: 50px;
    padding: 13.5px 16px;
    padding-right: 48px !important;
    font-size: 16px;
    border: 1px solid var(--color-border);
    border-radius: 8px;
    cursor: pointer;

    &::after {
      position: absolute;
      top: 50%;
      right: 14.5px;
      display: block;
      width: 24px;
      height: 24px;
      background: url(../img/select_arrow.svg) var(--color-white) no-repeat center;
      background-size: 24px !important;
      transform: translateY(-50%);
      transition: all 0.25s ease;
      content: "";
    }
  }

  &__list {
    position: absolute;
    z-index: 2;
    width: 100%;
    padding: 16px 8px 16px 24px;
    overflow: hidden;
    border: 1px solid var(--color-gray-dark-light);
    visibility: hidden;
    opacity: 0;
    transition: all 0.25s ease;
    pointer-events: none;
  }

  &__item {
    display: inline-block;
    width: 100%;
    padding: 8px 0;
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--color-white);
    border: none;
    cursor: pointer;

    &:hover,
    &:focus {
      color: var(--color-gray-dark-light);
    }
  }

  &__scrollbar {
    width: 100%;
    max-height: 120px;
    overflow-y: auto;

    &::-webkit-scrollbar-track {
      background-color: transparent;
      border-radius: 10px;
      -webkit-box-shadow: none;
    }

    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
      background-color: #fff;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--color-border);
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px var(--color-border);
    }
  }
}

/* Прозрачность формы автозаполнения start */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  color: var(--color-dark);
  background: transparent;
  -webkit-box-shadow: 0 0 0 1000px var(--color-white) inset;
  transition: background-color 0s ease-in-out 0s;
  -webkit-text-fill-color: var(--color-dark);
}
