.loader-block {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10001;
  display: none;
  background-color: rgb(30 49 47 / 64%);

  &--white-bg {
    background-color: var(--color-white);
  }

  &--absolute {
    position: absolute;
  }

  &--active {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  svg {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin: 20px;
  }
}
