mixin loader-block(mods, dopClass)

    //- Принимает:
    //-   mods    {string} - список модификаторов
    //- Вызов:
            +loader-block('some-mod')

    -
        // список модификаторов
        var allMods = '';
        if(typeof(mods) !== 'undefined' && mods) {
            var modsList = mods.split(',');
            for (var i = 0; i < modsList.length; i++) {
                allMods = allMods + ' loader-block--' + modsList[i].trim();
            }
            if(typeof(dopClass) !== 'undefined' && dopClass) {
                allMods = allMods + dopClass;
            }
        }


    .loader-block(class= allMods)&attributes(attributes)
        svg(version="1.1", id="L4", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", viewBox="0 0 100 100", enable-background="new 0 0 0 0", xml:space="preserve")
            circle(fill="#15CB51", stroke="none", cx="32", cy="50", r="6")
                animate(attributeName="opacity", dur="1s", values="0;1;0", repeatCount="indefinite", begin="0.1")
            circle(fill="#15CB51", stroke="none", cx="50", cy="50", r="6")
                animate(attributeName="opacity", dur="1s", values="0;1;0", repeatCount="indefinite", begin="0.2")
            circle(fill="#15CB51", stroke="none", cx="68", cy="50", r="6")
                animate(attributeName="opacity", dur="1s", values="0;1;0", repeatCount="indefinite", begin="0.3")
