.basket-link {
  position: relative;
  font-family: Montserrat;

  &__count {
    position: absolute;
    top: 4px;
    right: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    padding: 1px 2px 0;
    color: var(--color-white);
    font-size: 10px;
    line-height: 18px;
    text-align: center;
    background-color: var(--color-green);
    border-radius: 20px;
  }
}
